[submodule "libossia"]
	path = libossia
	url = https://github.com/OSSIA/libossia.git
[submodule "video_player/ofxOMXPlayer"]
	path = video_player/ofxOMXPlayer
	url = https://github.com/avilleret/ofxOMXPlayer.git
[submodule "ofxShadertoy"]
	path = ofxShadertoy
	url = https://github.com/avilleret/ofxShadertoy
[submodule "biomedical_display/ofxFatLines"]
	path = biomedical_display/ofxFatLines
	url = https://github.com/avilleret/ofxFatLines.git
[submodule "mrpeach"]
	path = mrpeach
	url = https://github.com/avilleret/mrpeach.git
