[submodule "libossia"]
	path = libossia
	url = https://github.com/OSSIA/libossia.git
[submodule "video_player/ofxOMXPlayer"]
	path = video_player/ofxOMXPlayer
	url = https://github.com/avilleret/ofxOMXPlayer.git
